latex/__init__.py
*.pyc
*.xhtml
*~
*.scssc
*.swp
*.orig
*.DS_Store
*.log
*.aux
*.out
:2e_*
:2e#
.git.old
.AppleDouble
database.sqlite
courseware/static/js/mathjax/*
db.newaskbot
db.oldaskbot
flushdb.sh
build
.coverage
coverage.xml
cover/
log/
reports/
latex/course/course/xbundle_course.xml
latex/course/course/2016_Fall.xml
.paux
/src/
\#*\#
*.xbundle
tmp*